<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">

</head>

<body>
    <header>
        <div class="headerleft">
            <p><a href="http://localhost/SunnySocks/sockstream/pages/storepage.php" style="color: white;">All Socks</a></p> 
            <hr />
            <p style="color: white;">Seasonal</p>
        </div>


        <div class="headerlogo">
            <img src="../assets/images/logos/png/sunny_logos-01.png" width="190">
        </div>

        <div class="headerright">
            <p style="color: white;"><a href="file:///C:/Users/admin/Desktop/NHL_Stenden_PHP_Docker_Env-0.4/app/public/SunnySocks/sockstream/pages/aboutus.html" style="color: white;">About Us</a> FAQ | |</p>
        </div>


    </header>


    <main>
        <p>something</p>
    </main>



    <footer>
        <div>
            <p>Adress:</p>
            <p>Sunny Street, Emmen</p>
            <p>Contact Us:</p>
            <p>06 12 34 56 78</p>
            <p>info@sunnysocksn.nl</p>


            
        </div>




    </footer>


</body>

</html>