<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
</head>

<body>
    <header>
        
        <div class="header-left" style="color: white;">
            <p><a href="http://localhost/SunnySocks/sockstream/pages/storepage.php" style="color: white;">All Socks</a>&nbsp;&nbsp;&nbsp; Seasonal</p>
        </div>


        <div class="header-logo">
            <img src="../assets/images/logos/png/sunny_logos-01.png" width="190">
        </div>

        <div class="header-right">
            <a href="file:///C:/Users/admin/Desktop/NHL_Stenden_PHP_Docker_Env-0.4/app/public/SunnySocks/sockstream/pages/aboutus.html" style="color: white;">About Us</a>
            <a href="" style="color: white;">FAQs</a>
        </div>

        <div class="icons-header">
            <img src="../assets/icons/png/profile.png" class="cart-header">
            <img src="../assets/icons/png/cart.png" class="profile-header">
        </div>

    </header>

        <nav class="breadcrumb-navigation">
            <a href="file:///C:/Users/admin/Desktop/NHL_Stenden_PHP_Docker_Env-0.4/app/public/SunnySocks/sockstream/components/headerandfooter.html">Home</a>
            <span class="divider">></span>
            <a href="http://localhost/SunnySocks/sockstream/pages/storepage.php">Store Page</a>
            <span class="divider">></span>
            <a href="http://localhost/SunnySocks/sockstream/pages/productpage.php">Product Page</a>
            
        </nav>


    <main>
        <p>something</p>
    </main>



    <footer>
        <div>
            <div class="footer-top-text">
                
                <div class="left" style="color: white;">
                    <img src="../assets/icons/png/ssl-secure.png" class="ssl-secured-footer">
                    <p>Address:</p>
                    <p>Sunny Street, Emmen</p>
                    <p>Contact Us:</p>
                    <p>06 12 34 56 78</p>
                    <p>info@sunnysocksn.nl</p>
                </div>

                <div class="footer-right-center" style="color: white;">
                    <p class="right">Contact Us</p>
                    <p class="right">Sunny's Values</p>
                    <p class="right">Join Our Community</p>
                    <p class="right">Socks of the Month</p>
                </div>

                <div class="footer-right" style="color: white;">
                    <p>Gift Cards</p>
                    <p>Wholesale Inquiries</p>
                    <p>FAQs</p>
                    <p>Careers</p>
                </div>

            </div>
           
            <div class="footer-socials">
                <a href="https://www.facebook.com/">
                    <img src="C:\Users\admin\Desktop\NHL_Stenden_PHP_Docker_Env-0.4\app\public\SunnySocks\sockstream\assets\images\socials\facebook-logo.png" width="25" height="25">
                </a>

                <a href="https://instagram.com/">
                    <img src="C:\Users\admin\Desktop\NHL_Stenden_PHP_Docker_Env-0.4\app\public\SunnySocks\sockstream\assets\images\socials\instagram-logo.png" width="25" height="25">
                </a>

                <a href="https://x.com">
                    <img src="C:\Users\admin\Desktop\NHL_Stenden_PHP_Docker_Env-0.4\app\public\SunnySocks\sockstream\assets\images\socials\x-logo.png" width="25" height="25">
                </a>

                <a href="https://www.linkedin.com/">
                    <img src="C:\Users\admin\Desktop\NHL_Stenden_PHP_Docker_Env-0.4\app\public\SunnySocks\sockstream\assets\images\socials\linkedin-logo.png" width="25" height="25">
                </a>

                <a href="https://www.youtube.com/">
                    <img src="C:\Users\admin\Desktop\NHL_Stenden_PHP_Docker_Env-0.4\app\public\SunnySocks\sockstream\assets\images\socials\youtube-logo.png" width="25" height="25">
                </a>
            </div>
          
            
            <hr class="hr-footer">
        
            <div class="footer-copyrights"  style="color: white;">
                <div>© 2024 Sunny Socks. All rights reserved.</div>
                <div>Privacy Policy &nbsp;&nbsp;&nbsp; Terms of Service &nbsp;&nbsp;&nbsp; Shipping & Return Policy</div>
            </div>

        </div>
    </footer>

    
            <script src="../js/headerandfooter.js"></script>
</body>

</html>