:root {
  --color-blue: #1e407a;
  --color-green: #51b2a2;
  --color-pink: #e990b9;
  --color-orange: #f15b39;
  --color-yelow: #fecd3e;
}

@font-face {
  font-family: "Nexa";
  src: url("../assets/fonts/Nexa_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("../assets/fonts/Nexa_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-image: url(../assets/images/sunny_illustrations/png/background-socks.png);
  background-size: 320px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  min-height: 700px;
  width: 350px;
  max-width: 100%;
  border-radius: 20px;
  z-index: 1000;
  border: 8px solid var(--color-green);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  border: 10px solid var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-header {
  background-color: var(--color-pink);
  border-top: 1px solid none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.chat-header h2 {
  grid-column: 2/3;
  text-align: center;
  margin-top: 25px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

#close-btn {
  border: none;
  background-color: var(--color-pink);
  color: white;
  grid-column: 3/4;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.chat-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  max-height: 500px;
  min-height: 300px;
  padding: 25px 10px 0;
  font-family: "Nexa";
}

.base-question {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.base-question a {
  color: white;
}

.chat-body p {
  margin: 0;
  margin-bottom: 10px;
}

.bot-response {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

.user-message {
  background-color: var(--color-green);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.chat-footer {
  background-color: var(--color-green);
  color: white;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Nexa", sans-serif;
  top: 0px;
}

.chat-footer div {
  margin-top: 30px;
  height: 40px;
}

.chat-footer input {
  background-color: var(--color-green);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.chat-footer ::placeholder {
  color: white;
}

.chat-footer button {
  background-color: var(--color-green);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  padding: 5px;
  width: 30px;
}

#cart-button {
  margin: 0;
  padding: 0;
}

.cart-overlay {
  display: none;
  position: fixed;
  top: 100px;
  right: 20px;
  width: 300px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-overlay-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-overlay-header {
  background-color: var(--color-pink);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-overlay-header h2 {
  margin: 0;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.cart-close-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.cart-body {
  padding: 15px;
  overflow-y: auto;
  flex-grow: 1;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 10px;
  margin-right: 15px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Nexa", sans-serif;
}

.cart-item-size,
.cart-item-quantity {
  font-size: 14px;
  color: #555;
  font-family: "Nexa", sans-serif;
}

#cart-empty {
  color: var(--color-pink);
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  text-align: center;
}

.cart-footer {
  background-color: var(--color-green);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#checkout-button {
  background-color: var(--color-orange);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nexa", sans-serif;
}

#clear-cart-button {
  background-color: var(--color-pink);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nexa", sans-serif;
  margin-left: 10px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: var(--color-orange);
  border-radius: 20px;
  text-align: center;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}

#discount {
  margin-bottom: 20px;
}

#hallowen {
  color: purple;
}

.popup-content img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}

#logohalloween {
  width: 90%;
}

.popup-content input {
  background-color: var(--color-orange);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 190px;
  padding: 5px;
  font-family: "Nexa", sans-serif;
}

.popup-content ::placeholder {
  color: white;
}

.newsbutton {
  background-color: white;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 50%;
  width: fit-content;
  height: 25px;
  width: 25px;
  font-family: "Nexa", sans-serif;
}

.newsletter-close-btn {
  text-align: right;
  cursor: pointer;
  position: relative;
  right: 10px;
  top: 5px;
  font-size: 20px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1001;
  margin-right: 10px;
}

/* Header and Footer Styling */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 40px;
  background-color: #ffd700;
  font-family: "Nexa";
  color: white;
  position: relative;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-left p,
.header-left a,
.header-right a {
  text-decoration: none;
  color: white;
}

.header-left p,
.header-left a:hover,
.header-right a:hover {
  color: white;
  text-decoration: underline;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo img {
  width: 190px;
}

.icons-header {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.profile-header,
.cart-header {
  width: 35px;
  height: 35px;
}

.header-left {
  margin-right: auto;
}

.header-right {
  margin-left: auto;
  margin-right: 50px;
}

footer {
  height: 550px;
  width: 100%;
  margin-bottom: 0%;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s;
  color: white;
}

.footer-socials img {
  width: 25px;
  height: 25px;
}

.footer-top-text {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  padding-top: 80px;
}

.farleft-text-footer {
  text-align: left;
  width: 300%;
}

.footer-right-center {
  text-align: left;
  text-overflow: clip;
  width: 70%;
}

.footer-right {
  text-align: left;
  width: 70%;
}

.hr-footer {
  color: white;
  margin-top: 70px;
  width: 91%;
  margin-right: 50px;
  margin-left: 62px;
}

.ssl-secured-footer {
  width: 200px;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px;
  margin: 10px;
  margin-left: 40px;
  margin-right: 60px;
}

.footer-socials {
  display: flex;
  margin-left: 40px;
  gap: 20px;
  margin-top: 20px;
}

.footer-socials a {
  text-decoration: none;
}
