:root {
  --color-blue: #1e407a;
  --color-green: #51b2a2;
  --color-pink: #e990b9;
  --color-orange: #f15b39;
  --color-yelow: #fecd3e;
}

@font-face {
  font-family: "Nexa";
  src: url("../assets/fonts/Nexa_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("../assets/fonts/Nexa_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.chatbot {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-image: url(../assets/images/sunny_illustrations/png/background-socks.png);
  background-size: 320px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  width: 300px;
  max-width: 100%;
  border-radius: 20px;
  z-index: 1000;
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.chat-header {
  background-color: var(--color-pink);
  border-radius: 10px;
  color: white;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.chat-header h2 {
  grid-column: 2/3;
  text-align: center;
  margin-top: 25px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

#close-btn {
  border: none;
  background-color: var(--color-pink);
  color: white;
  grid-column: 3/4;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.chat-body {
  height: 300px;
  padding-top: 10px;
  font-family: "Nexa Light";
}

#base-question {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.chat-body p {
  margin: 0;
}

.bot-response {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

.user-message {
  background-color: var(--color-green);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.chat-footer {
  background-color: var(--color-green);
  border-radius: 10px;
  color: white;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Nexa", sans-serif;
}

.chat-footer div {
  margin-top: 27px;
  height: 40px;
}

.chat-footer input {
  background-color: var(--color-green);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.chat-footer ::placeholder {
  color: white;
}

.chat-footer button {
  background-color: var(--color-green);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  padding: 5px;
  width: 30px;
}

#cart-button {
  margin: 0;
  padding: 0;
}

.cart-overlay {
  display: none;
  position: fixed;
  top: 80px;
  right: 20px;
  width: 300px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-overlay-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-overlay-header {
  background-color: var(--color-pink);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-overlay-header h2 {
  margin: 0;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.cart-close-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.cart-body {
  padding: 15px;
  overflow-y: auto;
  flex-grow: 1;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Nexa", sans-serif;
}

.cart-item-size,
.cart-item-quantity {
  font-size: 14px;
  color: #555;
  font-family: "Nexa", sans-serif;
}

#cart-empty {
  color: var(--color-pink);
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  text-align: center;
}

.cart-footer {
  background-color: var(--color-green);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#checkout-button {
  background-color: var(--color-orange);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nexa", sans-serif;
}

#clear-cart-button {
  background-color: var(--color-pink);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nexa", sans-serif;
  margin-left: 10px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: var(--color-orange);
  border-radius: 20px;
  text-align: center;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 90%;
  gap: 10px;
  overflow: hidden;
}

#discount {
  margin-bottom: 20px;
}

#hallowen {
  color: purple;
}

.popup-content img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}

#logohalloween {
  width: 90%;
}

.popup-content input {
  background-color: var(--color-orange);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 190px;
  padding: 5px;
  font-family: "Nexa", sans-serif;
}

.popup-content ::placeholder {
  color: white;
}

.popup-content button {
  background-color: var(--color-orange);
  color: white;
  font-size: 16px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  width: fit-content;
  height: 25px;
  width: 25px;
  font-family: "Nexa", sans-serif;
}

.newsletter-close-btn {
  text-align: right;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1001;
  margin-right: 10px;
  margin-top: 5px;
}
