body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  max-width: 700px;
  width: 100%;
}

.login-form,
.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw;
  width: 25vw;
}

.or {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator {
  width: 2px;
  background-color: #ddd;
  margin: 0 10px;
  height: 25vh;
}

.login {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-green);
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.email,
.password {
  margin-top: 2vh;
}

.email {
  margin-bottom: 3vh;
}

#email,
#password {
  width: 100%;
  height: 6vh;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: transparent;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666;
  cursor: pointer;
}

.login-button {
  background-color: #8bd4be;
  color: #fff;
  padding: 10px;
  border: none;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 4vh;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #8bd4be;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh;
  margin-top: 2vh;
  border: 1px solid #bababa;
  cursor: pointer;
  width: 100%;
  border-radius: 10rem;

  p {
    margin: 0;
  }
}

.social-icon {
  width: 1.5vw;
  margin-right: 0.5vw;
}

button {
  border-radius: 10rem;
}

.privacy {
  color: var(--color-green);
  display: flex;
  justify-content: center;
}

.privacy p {
  width: 40%;
  text-align: center;
}

.privacy a {
  color: var(--color-green);
}

.error {
  color: var(--color-orange);
  margin-top: 1vh;
  margin-bottom: 0;
}