body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    padding: 20px;
    max-width: 700px;
    width: 100%;
  }
  
  .login-form, .social-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
  }
  
  .separator {
    width: 1px;
    background-color: #ddd;
    margin: 0 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #666;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #8bd4be;
    color: #fff;
    padding: 10px;
    border: none;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
  }
  
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #8bd4be;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
  }
  
  .social-button.google {
    background-color: #fff;
  }
  
  .social-button.facebook {
    background-color: #fff;
  }
  
  .social-button.email {
    background-color: #fff;
  }

button {
    border-radius: 10rem;
}  