body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.section-title {
  color: var(--color-pink);
  font-size: 1rem;
  margin: 0 0 1vh 0;
}

.container {
  background: #ffffff;
  padding: 2vh 1vw;
  border-radius: 0.5rem;
  box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.15);
  max-width: 60vw;
  width: 100%;
}

.page-title {
  text-align: center;
  color: #333;
  margin-bottom: 1vh;
  font-size: 1.5rem;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.profile-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5vh;
}

.profile-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.2vh;
  border: 0.1rem solid var(--color-pink);
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.profile-image:hover {
  transform: scale(1.1);
}

.profile-image-section .upload-btn {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-block: 2vh;
}

.profile-image-section .upload-btn:hover {
  background-color: var(--color-pink);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 0.2vh;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 80%;
  padding: 0.5vh 0.5vw;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #fafafa;
  transition: border 0.3s ease;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: var(--color-pink);
}

.btn {
  background-color: var(--color-yellow);
  color: white;
  padding: 1vh 1vw;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 4vh;
}

.btn:hover {
  background-color: var(--color-pink);
}

.user-details,
.shipping-details,
.payment-methods {
  background-color: #fafafa;
  padding: 1.5vh;
  border-radius: 0.4rem;
  box-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.05);
}

.input-group input,
.input-group select {
  box-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.05);
}

input[type="file"] {
  display: none;
}

.profile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-header .page-title {
  flex-grow: 1;
  text-align: center;
}

.logout-form {
  position: absolute;
  right: 0;
}

.logout-btn {
  background-color: var(--color-orange);
  border: none;
  border-radius: 1rem;
  padding: 1vw;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: var(--color-orange);
}
