:root 
{
  --color-blue: #1e407a;
  --color-green: #51b2a2;
  --color-pink: #e990b9;
  --color-orange: #f15b39;
  --color-yelow: #fecd3e;
}

@font-face 
{
  font-family: "Nexa Bold";
  src: url("../assets/fonts/Nexa\ Bold.otf") format("opentype");
  font-style: normal;
}

@font-face 
{
  font-family: "Nexa Light";
  src: url("../assets/fonts/Nexa\ Light.otf") format("opentype");
  font-style: normal;
}

* 
{
  box-sizing: content-box;
}

body 
{
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-image: url(../assets/images/sunny_illustrations/png/background-socks.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-size: auto;
  font-family: "Nexa Light", sans-serif;
}

/* Cart */

/* Main Cart-Container */
.cart-main-container 
{
  display: grid;
  margin: 40px auto;
  max-width: 100%;
  justify-content: center;
}

/* Product Display */
.cart-container 
{
  display: flex;
  flex-direction: column;
  margin: 100px 40px auto;
  border-radius: 30px;
  border: 2px solid #51b2a2;
  width: 700px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px #555 ;
}

/* Product Parts */
.cart-product-item 
{
  display: grid;
  grid-template-columns: 80px 1fr auto auto;
  align-items: end;
  padding: 20px;
}


/* Product Image */
.uni-green-img,
.uni-yellow-img,
.uni-pink-img 
{
  background-color: #ebe7e7;
  height: fit-content;
  width: 80px;
  border-radius: 5px;
}

/* Product Details  */
.cart-product-details 
{
  flex-grow: 1;
  margin-left: 20px;
  padding-bottom: 20px;
}

.cart-product-details h4 
{
  margin: 5px 0;
  font-size: 18px;
  font-family: 'Nexa Bold';
}

.cart-product-details h3 
{
  margin: 0px 0px;
  padding-top: 45px;
  font-family: 'Nexa Bold';
}

.cart-product-details p 
{
  margin: 5px 0;
  color: #777;
  font-size: small;
  font-weight: bolder;
}

.cart-product-details>p>b 
{
  color: black;
  font-family: 'Nexa Bold';
}

/* Button */
.up-num-input 
{
  display: flex;
  align-items: end;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f3f3f3;
  padding: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.up-num-input button 
{
  border: none;
  background: none;
  font-size: 20px;
  padding: 0 5px;
  cursor: pointer;
  color: #555;
  width: 40px;
}

.up-num-input button:hover 
{
  color: #f15b39;
}

.up-num-input input 
{
  text-align: right;
  width: 30px;
  border: none;
  background: none;
  font-size: 20px;
}

.up-num-input .minus 
{
  font-size: 25px;
  color: #999;
}

.up-num-input .plus 
{
  font-size: 25px;
  color: #007bff;
}

/* Delete Button */
.cart-product-action 
{
  grid-template-columns: 3/5;
  margin-bottom: 110px;
}

.cart-delete-button 
{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #f15b39;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.cart-delete-button :hover 
{
  color: #d9534f;
}

/* Order Summary Box */
.cart-order-summary
{
  display: flex;
  flex-direction: column;
  margin: 100px 40px auto;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 2px 5px #555;
  width: 400px;
  border:2px solid #51b2a2;
}

.cart-order-summary h2 
{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: 'Nexa Bold';
}

.cart-sum-details
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.cart-sum-details p > span
{
  padding-left: 270px;
  text-align: right;

}

.cart-sum-details hr
{
  width: 100%;
  color: lightgray;
}

.cart-sum-details p.cart-total
{
  font-family: 'Nexa Bold';
}

/* Promo Code */
.promo-code
{
  display: flex;
  margin: 20px 0;
}

.promo-code input
{
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.promo-code button
{
  padding: 10px 40px;
  background-color: #51b2a2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 3px 0.2px #555;
}

.promo-code button:hover
{
  background-color: #337066;
}

/* Checkout Button */
.cart-checkout button
{
  width: 370px;
  padding: 15px;
  align-items: center;
  background-color: #51b2a2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  box-shadow: inset 0 0 3px 0.2px #555;
}

.cart-checkout button:hover
{
  background-color: #337066;
}

/* Payment Options */
.payment-options
{
  margin-top: 20px;
  text-align: center;
}

.payment-options p 
{
  margin: 0;
  font-size: 14px;
}

.payment-options img 
{
  width: 100%;
  max-width: 45px;
  padding: auto;
  margin: auto;
  border-radius: 5px;

}

.payment-options button
{
  border: none;
  max-width: 40px;
  padding: auto;
  margin: 0;
  border-radius: 5px;
}

.payment-options img:hover
{
  background-color: #2c5f575e;
}

/* Payment Options - Images */
.img-radio
{
  width: 100px;
  height: 35px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.payment-options
{
  input[type="radio"] 
  {
    display: none;
  }
}

.img-radio.selected
{
  border-color: #51b2a2;
  box-shadow: 0px 0px 10px #555;
}

/* Powered By */

.powered-by
{
  text-align: center;
  grid-column: 2/2;
  grid-row: 2/2; 
  background-color: #fece3e96;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 120px 2px ;
  padding: 0 2em 0;
}

.powered-by p
{
  margin: 47px 10px auto;
  font-size: 17px;
  justify-content: center;
  font-family: "Nexa Bold";
}

.powered-by img
{
  width: 100px;
  margin-top: 5px;
}


/* Checkout Page */